.sibar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 100;
    padding-top: 5px;


}

.sibar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    flex-direction: column;
    
}

.sibar-link:hover{
background-color: rgb(235,235,235);
cursor: pointer;
}

.sibar-link img{
    height: 24px;
}

    .sibar-link div{
        font-family:Roboto Arial;
        font-size:10px;
        margin-top: 4px;
        
}